@import "./base.css";
@import "./components.css";
@import "./utilities.css";

html,
body,
body > div:first-of-type {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

/* Hide the eye from a password input in MS Edge and IE [duplicate] */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

/* Fix: Ensure skeleton is transparent when loaded */
.data-\[loaded\=true\]\:bg-transparent[data-loaded="true"] {
  background-color: transparent !important;
}
